.App .suggestions {
  width: 100%;
  margin-top: 5px;
  border: none;
}
.category:not(:first-child) {
  border-top: 1px solid #ddd;
}
.categoryName {
  padding: 10px 20px;
  float: right;
}

.list-group .list-group-no-border {
  border: none;
}
